@import url('/src/styles/fonts.css');

/* !Variables */

:root {

    --color-primary-0: #fff;
    --color-primary-100: #D4D0CE;
    --color-primary-200: #617D9F;
    --color-primary-300: #7B8790;
    --color-primary-400: #1d3c4d;
    --color-primary-500: #2c2c2c;

    --border-radius-primary-0: 8px;
    --border-radius-primary-100: 12px;
    --border-radius-primary-200: 16px;

}

/* *Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: 'YekanBakh-Light';
    font-weight: 100;
    font-size: 62.5%;
}

body {
    background-color: var(--color-primary-500);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* *Mobile Styles */

@media screen and (min-width: 320px) and (max-width: 480px) {

    nav {
        background-color: var(--color-primary-400);
        width: 100%;
        height: 15vh;
        color: var(--color-primary-0);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        padding: 2rem;
        margin: 1rem;
        
    }

    .nav__title {
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 2rem;
    }

    .nav__desc {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .nav__action {
        grid-columns: 2/3;
        grid-row: 1/3;
        width: 70%;
        height: 50%;
        margin: auto;
        background-color: var(--color-primary-100);
        color: var(--color-primary-500);
        font-family: 'YekanBakh-Bold';
        font-size: 1.75rem;
        border-radius: var(--border-radius-primary-0);
        border: none;
        outline: none;
    }

    .modal__todo {
        width: 100%;
        display: none;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 2rem 0;
        background: rgba(0, 61, 250, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(0, 61, 250, 0.57);
        padding: 2rem;
        height: 50vh;
        transition: transform 2s ease;
        
    }

    .todo__title {
        grid-column: -1/1;
        grid-row: 1/2;
        height: 40%;
        font-family: 'YekanBakh-Regular';
        padding: 0 1rem;
        outline: none;
        border: none;
        border-radius: var(--border-radius-primary-100);
        align-self: center;
    }

    .todo__type-container {
        grid-column: -1/1;
        grid-row: 2/3;
        color: var(--color-primary-0);
        font-size: 1.75rem;
        display: grid;
        grid-template-columns: repeat(1fr, 4);
        grid-row: 1fr 1fr;
    }

    .todo__type-title {
        grid-column: -1/1;
        font-weight: 700;
    }

    .todo__type {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 1.5rem;
    }

    .modal__action {
        width: 75%;
        height: 50%;
        align-self: center;
        justify-self: center;
        font-family: 'YekanBakh-Bold';
        font-size: 1.75rem;
        background-color: var(--color-primary-200);
        color: var(--color-primary-0);
        border: none;
        outline: none;
        border-radius: var(--border-radius-primary-200);
    }

    .todo__close-btn {
        background-color: var(--color-primary-500);
    }

    



}